{% extends 'layout.html' %}

{% block title %} Зачем нужен аккаунт {% endblock %}
{% block content %}
    <div class="list-group container">
    <h3>Зачем нужен аккаунт?</h3>
      <div class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">1. Ввод специальных символов</h5>
        </div>
        <p class="mb-1">На главной странице перечислены символы, которые есть в татарском алфавите, но
        которых нет в русском. Владея аккаунтом, у вас будет уникальная возможность вводить слова, содержащие
        такие буквы!</p>
      </div>
  <div class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">2. Сохранение истории запросов</h5>
        </div>
        <p class="mb-1">История запросов для неавторизованных пользователей хранится только одну минуту, в то время
        как для тех, кто зашел на сайт,всегда будет храниться история последних 100 запросов!</p>
      </div>
    <div class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">3. Чат</h5>
        </div>
        <p class="mb-1">При выводе слова на главной странице есть возможность перейти в специальный чат
            связанный с этим словом, нажав на синюю кнопку. </p>
      </div>
</div>
{% endblock %}